* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 85%;
    width: 700px;
   
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
}
aside {
    float: left;
    width: 100px;
}
section {
    float: left;
    width: 550px;
    margin: 1em;
    padding-left: 1.5em;
}
    section h1 {
        margin: .5em 0;
    }
footer {
    border-top: 2px solid #ff6600;
    padding-top: .5em;
    clear: both;
    font-size: small;
    text-align: center;
}
ul {
    list-style: none;
    margin: 2em 0;
    margin-left: 1em;
}
li {
    margin-bottom: .5em;
}
    li a {
        color: #FF6600;
        font-weight: bold;
    }
.button {
    padding: 0.25em 1.5em;
    margin-right: 0.5em;
}
.validator {
    color: red;
    font-size: 95%;
    margin-left: 1em;
}
p {
    margin: .5em 0;
}