#ddlProducts {
    width: 15em;
}
#productData {
    padding: 1em 0;
    width: 325px;
    float: left;
}
#imgProduct {
    float: left;
    height: 200px;
    padding: 1em 2em;
}

#lblName, #lblUnitPrice {
    display: block;
    font-size: 125%;
    font-weight: bold;
}
#lblName, #lblShortDescription, #lblLongDescription {
    display: block;
    margin-bottom: 1em;
}
#lblLongDescription {
    margin-bottom: 2em;
}
#lblUnitPrice {
    margin-bottom: 2em;
}
#txtQuantity {
    width: 5em;
}
#btnAdd {
    margin: 1em 0 0;
}
